
<mat-divider></mat-divider>

<!-- <div class="card-group">

  <div *ngFor="let product of products">
    <app-card [product]="product"></app-card>
  </div>

</div> -->

<div class="card-group">
  <div *ngFor="let product of products">
    <app-card [product]="product"></app-card>
  </div>
</div>


<!-- <mat-grid-list
  cols="3"  rowHeight="1:1"
  gutterSize="16px"
  fxLayout="row wrap"
  fxLayout.xs="column"
  fxLayout.sm="column"
  fxLayout.md="row"
  fxLayout.lg="row"
>
  <mat-grid-tile *ngFor="let product of products">
    <div class="grid-item">
      <app-card [product]="product"></app-card>
    </div>
  </mat-grid-tile>
</mat-grid-list> -->


<!-- <mat-grid-list cols="4" gutterSize="10px">
  <mat-grid-tile *ngFor="let product of products">
    <app-card [product]="product"></app-card>
  </mat-grid-tile>
</mat-grid-list> -->
